body {
  margin: 0px;
  background-color: #252631;
  padding-bottom: 40px;
}

.top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  padding: 5px;
  background-color: black;
}

img {
  width: 90px;
  border-radius: 50%;
  margin-left: 30px;
}

.head {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 160px;
}

section {
  display: block;
  margin: 30px auto 0px;
  width: 370px;
  background-color: black;
  padding: 20px 15px;
  border-radius: 10px;
  color: white;
}

@media(max-width: 360px){
  section {
    width: 320px;
  }
}

.que {
  font-weight: bold;
  font-size: 20px;
}

.question {
  margin: 20px 10px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: 180px 180px;
  column-gap: 10px;
  row-gap: 10px;
}

@media(max-width: 360px) {
  .grid {
    grid-template-columns: 320px;
  }
}

.answer {
  background-color: #1C232A;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.answer:active {
  border: 2px solid red;
}

/*.js-clicked-answer {
  background-color: #1C232A;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid red;
}
*/

.bi-x-octagon-fill {
  color: red;
  text-align: right;
  font-size: 23px;
  margin-left: 80px;
}

.answer-correct {
  background-color: #1C232A;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.answer-correct:active {
  border: 2px solid greenyellow;
}

span {
  font-size: 15px;
  margin-left: 3px;
}

.results {
  margin-top: 50px;
}

.bi-emoji-smile-fill{
  color: gold;
  font-size: 40px;
}

.bi-emoji-frown-fill {
  color: red;
  font-size: 40px;
}

.results-answer {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.grid-btn {
  display: flex;
  justify-content: space-around;
}

.prev {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  opacity: 0.3;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
}

.right {
  font-size: 20px;
  margin: 10px 0px;
  color: white;
  font-weight: bold;
}